/* Credit Range Slider */
#range-slider-credits {
  background: #14b8a633;
}

#range-slider-credits .range-slider__range {
  background: #14b8a633;
  height: 0.5rem;
  transition: height 0.3s;
}

#range-slider-credits .range-slider__thumb {
  background: #0d9488;
  width: 1.25rem;
  height: 1.25rem;
  transition: transform 0.3s;
}

#range-slider-credits .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

#range-slider-credits .range-slider__range[data-active] {
  height: 1rem;
}